<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG_NAME" source="spring.application.name" defaultValue="sg-log"/>
    <property name="LOG_PATH" value="${user.home}/logs/java/tdormdemo"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" defaultValue="local">
        <encoder>
            <pattern>%blue(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %magenta(%X{TraceId}) %highlight(%-5level) %cyan(%logger) - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE_BIZ" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="FILE_SYNC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/sync/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_NAME}-sync.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>50GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="dev | test | uat | prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE_BIZ"/>
        </root>
    </springProfile>

</configuration>
